.game-wrapper {
  background: linear-gradient(to bottom, #000000 0%, #5d34cf 100%);
}

.game {
  margin: 0 auto;
  min-height: 500px;
  width: 100%;
  max-width: 900px;
  position: relative;
}

.game__info {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}

.golden {
  background: #CF8F21;
  background: linear-gradient(to left, #cf8f21 0%, #cfab34 25%, #fff9cf 45%, #cf8f21 55%, #cfab34 76%, #fff9cf 100%);
}