.game {
  background: linear-gradient(to bottom, #000000 0%, #5d34cf 100%);
  min-height: 300px;
}

.golden {
  background: #CF8F21;
  background: linear-gradient(to left, #cf8f21 0%, #cfab34 25%, #fff9cf 45%, #cf8f21 55%, #cfab34 76%, #fff9cf 100%);
}