@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'total';
@import 'game';

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.heading {
  font-size: 3rem;
  font-weight: 400;
  color: #7b7b7b;
}

button {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #e2e2e2;
  cursor: pointer;

  &:hover {
    background-color: #dbdbdb;
  }

  &:active {
    background-color: #a5a5a5;
  }
}

.hidden {
  display: none;
}