.total {
  background: linear-gradient(to bottom, #000000 0%, #6dcf34 100%);
  min-height: 500px;
  display: flex;
}

.total__content {
  margin: auto;
  color: #fff;

  h2 {
    margin: 0;
    font-size: 4rem;
  }
}

.total__score {
  font-size: 2rem;
  margin: 0;
}